base:
    app_chain_type: fabric # application chain type
    store_path: .db # store path

# irita-hub config
hub:
    chain_id: irita
    node_rpc_addr: http://127.0.0.1:26657
    node_grpc_addr: 127.0.0.1:9090
    key_path: .keys
    key_name: node0
    passphrase: 1234567890

# fisco config
fisco:
    monitor_interval: 1 # chain monitoring interval in seconds
    connection_type: channel
    ca_file: /Users/bianjie/BSN/bsnhub-service-relayer/keys/ca.crt
    cert_file: /Users/bianjie/BSN/bsnhub-service-relayer/keys/sdk.crt
    key_file: /Users/bianjie/BSN/bsnhub-service-relayer/keys/sdk.key
    sm_crypto: true
    priv_key_file: /Users/bianjie/BSN/bsnhub-service-relayer/keys/key.pem

# fabric config
fabric:
    sdk_config: /root/config.yaml
    msp_user_name: Admin
    org_name: org1.example.com

# mysql config
mysql:
    db_name: relayer
    db_user_name: root
    db_user_passphrase: 123456
    host: localhost
    port: 3306

# service config
service:
    service_name: cc-contract-call
    schemas: wd
    provider: iaa1fe6gm5kyam6xfs0wngw3d23l9djlyw82xxcjm2
    service_fee: 1000000upoint
    qos: 100